h1 {
    color: #888888;
    font-family: 'segoi UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    color: #0288d1;
    font-family: "Georgia, Times New Roman";
    text-align: right;
}