h1{
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kotak{
    background: #0288d1; /*warna kotak*/
    color: white; /*warna tulisan*/
    width: 100px; /*lebar kotak*/
    height: 50px;  /*tinggi kotak*/
    padding: 50px; /*jarak tulisan dengan tabel*/
    margin: 10px; /*jarak antar kotak*/
    float: left; /*susunan antar kotak jadi mepet kiri*/
    font-weight: bold; /*ketebalan huruf*/
}

#kotak{
    background: #666666;
    white: white;
    width: 100px;
    height: 50px;
    padding: 50px;
    margin: 10px;
    float: left;
}